<html>
<head>
    <link href="bootstrap.css" rel = "stylesheet">
    <link rel="stylesheet" href="main1.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="bootstrap.js"> </script>
    <title>Hospital Login</title> 
</head>
<body class = "login">

    
    <div class = "navbar navbar-inverse" role = "navigation">
        <div class = "container-fluid">
        
            <a class="navbar-brand" href="">Health Reform</a>
            
           
           
            <form  class = "navbar-form navbar-right" method = 'post' class = "form-inline" role = "form">
               
                <div class = "form-group">
                       
                    <input type = "text" name = 'username' class = "form-control" id = "username" placeholder="Hospital ID">
                    
                </div>
                <div class = "form-group">
                    
                    <input type = "password" name = 'password' class = "form-control" id = "password" placeholder="Enter password">
                    <input type = "submit" name = 'action' value = 'Login' class = "btn btn-default navbar-btn"></button>
            </form>
           
            </div>
           
       </div>
    </div>
  </div>

<!--
    {% if notMatched == True %}
        <div class = 'col-sm-6 col-sm-offset-3'>
        <div class = "alert alert-danger" role = "alert"> Sorry wrong username and password. Please try again! </div>
        </div>
    {% endif %}
    
    {% if allFieldsCompleted == False %}
        <div class = 'col-sm-6 col-sm-offset-3'>
        <div class = "alert alert-danger" role = "alert"> One or more fields are missing. Please try again! </div>
        </div>
    {% endif %}
    {% if usernameTaken == True %}
        <div class = 'col-sm-6 col-sm-offset-3'>
        <div class = "alert alert-danger" role = "alert"> The username is already taken. Please try again! </div>
        </div>
     {% endif %}
     {% if passwordMatch == False %}
        <div class = 'col-sm-6 col-sm-offset-3'>
        <div class = "alert alert-danger" role = "alert"> Passwords do not match. Please try again! </div>
        </div>
     {% endif %}
    
     <div class = 'col-sm-6 col-sm-offset-3'>
     {% if messages %}
    
    {% for message in messages %}
    <p  {% if message.tags == "success" %} class= "alert alert-success" {% endif %} >{{ message }} </p>
    {% endfor %}
    {% endif %}
        </div>
-->    
    <div class = "container">
        
        <div class = "row">
            <div class = "col-md-6 first">
                <h2>Welcome!</h2>    
                <h3>The Hospital Data Analysis website</h3>
               
                <a href="#" class="btn btn-lg btn-success" data-toggle="modal" data-target="#basicModal">More Info</a>
                
                <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Close</button>
                              <h4 class="modal-title" id="myModalLabel">More Info</h4>
                            </div>
                            <div class="modal-body">
                                 
                               <iframe width="560" height="315" src="https://www.youtube.com/embed/CNMXW11NCN0" frameborder="0"     allowfullscreen></iframe>
                                <ul class = "list-group">
                                    <li class = "list-group-item"> Compare Revenues from previous years</li>
                                    <li class = "list-group-item"> Upload Excel or CSV file with data</li>
                                    <li class = "list-group-item"> Interactive Charts with analyzation of uploads</li>
                                   
                                 </ul>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class = "col-md-6 second">
                
                
                <h2>Sign Up!</h2>
                
                <form method = 'POST' action = '' class = "form-horizontal" role = "form">
                
                    
                        
                   <div class = form-group>
         <input type = "text" class = "form-control signup" name = "hospName" id = "hospName" placeholder="Hospital Name">
            </div>   
        <div class = form-group>
         <input type = "text" class = "form-control signup" name = "hospID" id = "hospID" placeholder="Hospital ID">
            </div>
        <div class = form-group>
         <input type = "password" class = "form-control signup" name = "password" id = "hospPas"  placeholder="Enter Password">
            </div>
                               
        <div class = form-group>
         <input type = "password" class = "form-control signup" name = "reenter" id = "repassword" placeholder="Re-enter Password">
            </div>
            <div class = "sign-up">
                <div class = "form-group">
                    <button type = "submit" name = 'action' class = "btn btn-default sign" value = "Register" >Sign Up</button>
            </div>
        </div>  
                    
                
    </form>
                
                
            </div>
        </div>    
     <hr>
     <footer>
        <p style = "color:black">&copy; Company 2014</p>
      </footer>
 
        <script>
            
        var main = function(){
           
            $(".container").hide().fadeIn(1000);
            
            moduleFocus();
            signDescriptions();
            loginEnable();
            
        };
            
        function loginEnable(){
            
            $(".navbar-btn").addClass("Disabled");
            
           $("#username").on("keyup",function(){
               var username =  $("#username").val();
               var password = $("#password").val();
               if(username!=''&& password!=''){
                   $(".navbar-btn").removeClass("Disabled");
               }
               else{
                   $(".navbar-btn").addClass("Disabled");
               }
               
           });
            
           $("#password").on("keyup",function(){
               var username =  $("#username").val();
               var password = $("#password").val();
               if(username!=''&& password!=''){
                   $(".navbar-btn").removeClass("Disabled");
               }
               else{
                 $(".navbar-btn").addClass("Disabled");  
               }
               
           });
           
            
           
            
        }
        function checkFields(){
            
            var hospName = $("#hospName").val();
            var hospID = $("#hospID").val();
            var hospPas = $("#hospPas").val();
            var repassword = $("#repassword").val();
            if(hospName!= '' && hospID != '' && hospPas != '' && repassword!='' && repassword==hospPas){
                $(".sign").removeClass("disabled");   
            }
            else{
                $(".sign").addClass("disabled");
            }
            
        }
            
        function signDescriptions(){
            $("#hospName").on("focusin",function(){
                
                var warning = $("<p>").text("Please enter full hospital name").addClass("alert alert-info");
                $(this).closest(".form-group").append(warning);
                
                
            });
            
            $("#hospID").on("focusin",function(){
                
                var warning = $("<p>").text("Please enter hospital ID").addClass("alert alert-info");
                $(this).closest(".form-group").append(warning);
                
                
            });
        
            
            $("#hospPas").on("focusin",function(){
                
                var warning = $("<p>").text("Please enter at least 8 word password(one capital,one lowercase,one number)").addClass("alert alert-info");
                $(this).closest(".form-group").append(warning);
                
                
            });
          
            
            $("#repassword").on("focusin",function(){
                
                var warning = $("<p>").text("Please enter same password again").addClass("alert alert-info");
                var passWarn = $("<p>").text("Passwords Do Not Match").addClass("alert alert-info")
                $(this).closest(".form-group").append(warning);
                
                
                
            });
            
              $("#repassword").on("keyup",function(){
                
                
                var passWarn = $("<p>").text("Passwords Do Not Match").addClass("alert alert-danger")
                var hospPas = $("#hospPas").val();
                var repassword = $("#repassword").val();
                if(hospPas != repassword){
                    $(this).closest('.form-group').children(".alert").remove()
                    $(this).closest(".form-group").append(passWarn);
                }
                else{
                     $(this).closest('.form-group').children(".alert").remove();
                }
                
                
                
            });
            
              $(".signup").on("focusout",function(){
                
                $(this).closest('.form-group').children(".alert").remove();
               
               
                
                
            });
             $(".signup").on("keyup",function(){
                
                
               checkFields();
               
                
                
            });
            
            
            $(".sign").addClass("disabled");
            
            
            
        }
            
        function moduleFocus(){
            
             $(".col-md-6").on("mouseenter",function(){
                $(this).css({"color":"black","border":"2px solid"});
                
            });
            $(".col-md-6").on("mouseleave",function(){
                $(this).css({"color":"white","border":"none"});
                
                
            });
            
        }
            
        $(document).ready(main);
        
        
        
        
        </script>
   
    
   
   
   

    
</body> 


</html>