
<!DOCTYPE html>
<html lang="en">
<head>
     {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Performance Analysis</title>

    <link rel="stylesheet" type="text/css" href=" {% static "root/bootstrap.css" %} " />
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static "root/local.css" %}" />

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
</head>
<body>

    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url "home" %}">HealthReform</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li><a href="{%url "dashboard"%} "><i class="fa fa-bullseye"></i> Inpatient Revenue Breakdown</a></li>
                    <li><a href="{% url "outpatient"%}"><i class="fa fa-tasks"></i> Outpatient Revenue Breakdown</a></li>
                     <li ><a href="{% url "surgery" %}"><i class="fa fa-globe"></i> Surgeries</a></li>
                    <li><a href="{% url "rank" %}"><i class="fa fa-list-ol"></i> Rank</a></li>
                     <li class = "selected" ><a href="{% url "correlation" %}"><i class="fa fa-list-ol"></i>Performance Analysis</a></li>
                    <li ><a href="{% url "account"%}"><i class="fa fa-list-ol"></i> Account</a></li>
                     
                               
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-user">
                   
                     <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{hospName}}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            
                            <li><a href="{% url "account"%}"><i class="fa fa-gear"></i> Settings</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url "logout" %}"><i class="fa fa-power-off"></i> Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        
         <h1 align = "center" >Performance Analysis</h1>
        <h4 align = "center" >Performance based on correlation between revenue and number of patients for each payment type</h1>
        
        <form class="form-horizontal" role="form" method = "post" > {% csrf_token %}
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-4 control-label">Payment Type</label>
        <div class="col-sm-5">
         <select class="form-control" id = "procSelect" name = "procSelect">
             {% for proc in typesOfPayments %}
            <option value = "{{proc}}" >{{proc}}</option>
             {% endfor %}
        </select>
        </div>
      </div>
            
    
      
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-10">
          <input type="submit" class="btn btn-default" name = 'action' value = "Change"></button>
        </div>
      </div>
    </form>
      <div id="correlationChart" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>
        </br>
        </br>
        <div  align = "center">
            
            <table class = "table table-bordered table-hover" style = "max-width:80%; " >
                <thead>
                    <tr>
                        
                        <th>Highest correlation between revenue and # of patients (based on 2009-2013 data)</th>
                        <th>Lowest correlation between revenue and # of patients (based on 2009-2013 data)</th>
                        <th>Rank change from 2009 to 2013</th>
                        
                        
                        
                    </tr>
                </thead>
                <tbody>
                   
                    <tr>
                        <td>{{maxpaymentName}}</td>
                        <td>{{minpaymentName}}</td>
                        <td>{{rankChange}}</td>
                        
                        
                    </tr>
  
                   
                   
                </tbody>
            </table>
        </div>
    
    <script src="{% static "root/Chart.min.js" %}"></script>
    <!-- /#wrapper -->
    <script >
       
      $(function () {
    $('#correlationChart').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: "{{title}}"
        },
       
        xAxis: {
            title: {
                enabled: true,
                text: 'Number of patients'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: 'Revenue'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 100,
            y: 70,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
            borderWidth: 1
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 5,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x} patients, {point.y} dollars'
                }
            }
        },
        series: [{
            name: 'Correlation',
            color: 'rgba(223, 83, 83, .5)',
            data: [ [ {{firstNum}}, {{firstRev}} ],
                    [ {{secondNum}}, {{secondRev}} ],
                    [ {{thirdNum}}, {{thirdRev}} ],
                    [ {{fourthNum}}, {{fourthRev}} ],
                    [ {{fifthNum}}, {{fifthRev}} ],
                  ]

        }, ]
    });
});   
    
        
      
                                            
    </script>
 


</body>
</html>
